// ==========================================================================
// Variables
// ==========================================================================

$white: #fff;
$body-bg: #f2f3f4;
$navbar-bg: #42484c;
$dropdown-bg: #2e3336;